doctype
html
  head
    title #{title}
    include jade/meta
    //- Include this to include a Content-Security-Policy
    include jade/CSP

    style
      :stylus
        @require 'css/critical'
  body
    include jade/svg
    div#root
    script.
      //- Add versions for JS to read
      var _versions = {
        cache: '#{version}',
        esri: '#{esriVersion}'
      };
      var base = location.href.replace(/\/[^/]+$/, '');
      var dojoConfig = {
        parseOnLoad: false,
        async: true,
        cacheBust: '#{version}',
        packages: [
          { name: 'js', location: base + '/js' },
          { name: 'vendor', location: base + '/vendor' },
          { name: 'utils', location: base + '/js/utils' },
          { name: 'stores', location: base + '/js/stores' },
          { name: 'actions', location: base + '/js/actions' },
          { name: 'constants', location: base + '/js/constants' },
          { name: 'components', location: base + '/js/components' }
        ],
        aliases: [
          ['alt', 'vendor/alt/dist/alt.min'],
          ['react', 'vendor/react/react.min'],
          ['react-dom', 'vendor/react/react-dom.min'],
          ['babel-polyfill', 'vendor/babel-polyfill/browser-polyfill']
        ],
        deps: ['dojo/domReady!'],
        callback: function () {require(['js/main']);}
      };
    script(src='//js.arcgis.com/#{esriVersion}/init.js', async)
