doctype html
html
	head
		title #{title}
		//- Meta Tags
		meta(name='author', content='#{author}')
		meta(name='viewport', id='viewport', content='width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=Edge')
		meta(charset='utf-8')
		//- Meta Tags
		//- Inline Critical CSS only
		style.
			html,body{height:100%;width:100%;padding:0;margin:0;overflow:hidden;}
		style
			include css/app.css
	body
		//- Import SVG's
		include templates/svg.jade
		header#app-header.app-header
			span.app-title #{title}
			span.app-subtitle #{subtitle}
		div#app-body.app-body
			div#map-loader
				svg.loading-icon
					use(xlink:href='#loading-indicator')
			div#map
				div#map-widgets-wrapper
		//- Link Esri Library now
		script.
			var base = location.pathname.replace(/\/[^/]+$/, '');
			var loadCss = function(url){
				var sheet = document.createElement("link");
				sheet.type = "text/css";
				sheet.rel = "stylesheet";
				sheet.href = url;
				requestAnimationFrame(function () { 
					document.getElementsByTagName("head")[0].appendChild(sheet); 
				});
			}
			var dojoConfig = {
				parseOnLoad: false,
				async: true,
				cacheBust: '#{appVersion}',
				packages: [
					{ name: 'js', location: base + '/js' }, 
					{ name: 'map', location: base + '/js/map' },
					{ name: 'main', location: base + '/js/main' },
					{ name: 'stores', location: base + '/js/stores' },
					{ name: 'actions', location: base + '/js/actions' },
					{ name: 'constants', location: base + '/js/constants' },
					{ name: 'components', location: base + '/js/components' }
				],
				aliases: [
					['react', 'bower/react/react.min.js'],
					['lodash', 'bower/lodash/lodash.min.js']
				],
				deps: ['dojo/domReady!'],
				callback: function () {require(['js/bundle']);loadCss("http://js.arcgis.com/#{esriVersion}/esri/css/esri.css");}
			};
		script(src='http://js.arcgis.com/#{esriVersion}/init.js', async)